.accountsGrid {
    width: 100%;
    height: 250px;
}

.ui-grid-cell .btn-group {
    position: absolute;
}

.btn-group {
    white-space: nowrap;
}
.btn-group .btn {
    float: none;
    display: inline-block;
}
.btn + .dropdown-toggle {
    margin-left: -4px;
}

.table-responsive {
    overflow-x: visible !important;
    overflow-y: visible !important;
}